
numpy<2.0.0

torch==2.2.2
torchvision==0.17.2
--extra-index-url https://download.pytorch.org/whl/cpu

timm

pandas
scikit-learn  
joblib        

fastapi
pydantic      
uvicorn

langchain-google-genai
langchain-core
langchain-experimental
langgraph
langchain
python-dotenv

tabulate
python-multipart

ultralytics

google-genai
groq
langchain-groq
ipython